<div>
    <form class="form-inline" role="form" ng-submit="search()">
        <input type="text" class="form-control" id="inputClub" placeholder="{{'CLUB_PLACEHOLDER' | translate}}" ng-model="club" required>
        <select ng-model="selectedYear" ng-options="year.key as year.value for year in years">
        </select>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <div ng-show="!loading && query != '' && events.length == 0">Keine Resultate für "{{query.club}}" in der
        ausgewählten Zeitspanne
    </div>
    <div class="results-list" ng-hide="loading || !events || events.length == 0">
        <table class="table">
                <tr class="odd">
                    <th><a ng-click="sort('title')">{{'COMPETITION_TITLE' | translate}}</a></th>
                    <th><a ng-click="sort('data.date')">{{'DATE_TITLE' | translate}}</a></th>
                    <th><a ng-click="sort('data.counts')">{{'PARTICIPATIONS_TITLE' | translate}}</a></th>
                    <th><a ng-click="sort('data.podiums')">{{'PODIUMS_TITLE' | translate}}</a></th>
                    <th><a ng-click="sort('data.victories')">{{'VICTORIES_TITLE' | translate}}</a></th>
                </tr>
                <tbody bindonce ng-repeat="group in events | orderBy:sortField">
                <tr  ng-click="group.isOpen = !group.isOpen" bo-class="['even', 'odd'][$index %2]">
                    <td>
                        <a bo-html="group.data.name"></a>
                    </td>
                    <td bo-html="group.data.date | date:'mediumDate'">
                    </td>
                    <td bo-html="group.data.results.length">

                    </td>
                    <td bo-html="group.data.podiums">


                    </td>
                    <td bo-html="group.data.victories">

                    </td>
                </tr>
                <tr class="no-style-row">
                    <td colspan="5">

                    <results-table-by-event-club  is-open="group.isOpen" results="group.data.results"></results-table-by-event-club>

                    </td>
                </tr>
                </tbody>

            </table>

    </div>


    <div ng-show="loading">
        {{'LOADING' | translate }}
    </div>
</div>